[submodule "sources/mru.vim"]
	path = sources/mru.vim
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "sources/ack.vim"]
	path = sources/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "sources/open_file_under_cursor.vim"]
	path = sources/open_file_under_cursor.vim
	url = https://github.com/amix/open_file_under_cursor.vim.git
[submodule "sources/vim-colors-solarized"]
	path = sources/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "sources/vim-multiple-cursors"]
	path = sources/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "sources/vim-commentary"]
	path = sources/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "sources/bufexplorer"]
	path = sources/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "sources/vim-snippets"]
	path = sources/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "sources/ctrlp.vim"]
	path = sources/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git 
[submodule "sources/vim-repeat"]
	path = sources/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "sources/vim-fugitive"]
	path = sources/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "sources/vim-scala"]
	path = sources/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "sources/vim-gitgutter"]
	path = sources/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "sources/vim-snipmate"]
	path = sources/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "sources/vim-addon-mw-utils"]
	path = sources/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "sources/vim-go"]
	path = sources/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "sources/vim-indent-object."]
	path = sources/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "sources/vim-surround"]
	path = sources/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "sources/nerdtree"]
	path = sources/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "sources/vim-yankstack"]
	path = sources/vim-yankstack
	url = https://github.com/maxbrunsfeld/vim-yankstack.git
[submodule "sources/vim-markdown"]
	path = sources/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "sources/snipmate-snippets"]
	path = sources/snipmate-snippets
	url = https://github.com/scrooloose/snipmate-snippets.git
[submodule "sources/vim-airline"]
	path = sources/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "sources/tagbar"]
	path = sources/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "sources/vim-easytags"]
	path = sources/vim-easytags
	url = git@github.com:xolox/vim-easytags.git
[submodule "sources/vim-misc"]
	path = sources/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "sources/csv.vim"]
	path = sources/csv.vim
	url = git@github.com:chrisbra/csv.vim.git
[submodule "sources/vimagit"]
	path = sources/vimagit
	url = https://github.com/jreybert/vimagit
[submodule "sources/numbers.vim"]
	path = sources/numbers.vim
	url = git@github.com:myusuf3/numbers.vim.git
[submodule "sources/tlib_vim"]
	path = sources/tlib_vim
	url = git@github.com:tomtom/tlib_vim.git
[submodule "sources/vim-expand-region"]
	path = sources/vim-expand-region
	url = git@github.com:orland0m/vim-expand-region.git
[submodule "sources/vim-anyfold"]
	path = sources/vim-anyfold
	url = https://github.com/pseewald/vim-anyfold
